
use {{data['namespaces']['currentEntity']['apiControllers']}}\{{data['modelName']}}\{{data['modelName']}}Controller;

Route::group([
    'prefix' => '{{data['modelVariable']}}',
    'as' => '{{data['modelVariable']}}.',
], function () {

    Route::get('/', [{{data['modelName']}}Controller::class, 'index'])
    Route::post('/', [{{data['modelName']}}Controller::class, 'store'])->name('index');
    Route::group(['prefix' => '{project}'], function () {
        Route::get('/', [{{data['modelName']}}Controller::class, 'show'])->name('show');
        Route::put('/', [{{data['modelName']}}Controller::class, 'update'])->name('update');
        Route::delete('/', [{{data['modelName']}}Controller::class, 'delete'])->name('destroy');
    });
});

