<?php

namespace {{data['namespaces']['currentEntity']['backendRequests']}}\{{data['modelName']}};

use Illuminate\Foundation\Http\FormRequest;

/**
 * Class Store{{data['modelName']}}Request.
 */
class Store{{data['modelName']}}Request extends FormRequest
{
    /**
     * Determine if the {{data['modelVariable']}} is authorized to make this request.
     *
     * @return bool
     */
    public function authorize()
    {
        return true;
    }

    /**
     * Get the validation rules that apply to the request.
     *
     * @return array
     */
    public function rules()
    {
        return [
            {% for column in data['columns'] %}
            {%  if column['validations'] != None %}
                {%if column['front_type']=="img" or column['front_type']=="image"%}
            '{{ column['name']}}_file'=>'{{column['validations']}}',
                {%else%}
            '{{ column['name'] }}'=>'{{column['validations']}}',
                {%endif%}
            {%endif%}
            {%endfor%}
        ];
    }

    /**
     * @return array
     */
    public function messages()
    {
        return [
            //
        ];
    }
}
