<?php

namespace {{data['namespaces']['currentEntity']['observers']}};

use {{data['namespaces']['currentEntity']['models']}}\{{data['modelName']}};

/**
 * Class {{data['modelName']}}Observer.
 */
class {{data['modelName']}}Observer
{
    /**
     * @param  {{data['modelName']}}  ${{data['modelVariable']}}
     */
    public function created({{data['modelName']}} ${{data['modelVariable']}}): void
    {

    }

    /**
     * @param  {{data['modelName']}}  ${{data['modelVariable']}}
     */
    public function updated({{data['modelName']}} ${{data['modelVariable']}}): void
    {

    }

}

