{{'@'}}extends('backend.layouts.app')

{{'@'}}section('title', __('Deleted {{data['modelName']}}s'))

{{'@'}}section('breadcrumb-links')
    {{'@'}}include('backend.{{data['names']['spinalcase']}}.includes.breadcrumb-links')
{{'@'}}endsection

{{'@'}}section('content')
    <x-backend.card>
        <x-slot name="header">
            {{'@'}}lang('Deleted {{data['modelName']}}s')
        </x-slot>

        <x-slot name="body">
            <livewire:{{data['modelVariable']}}-table status="deleted" />
        </x-slot>
    </x-backend.card>
{{'@'}}endsection
