{{'@'}}if (
    ${{data['modelVariable']}}->trashed()
)
    <x-utils.form-button
        :action="route('admin.{{data['modelVariable']}}.restore', ${{data['modelVariable']}})"
        method="patch"
        button-class="btn btn-info btn-sm"
        icon="fas fa-sync-alt"
        name="confirm-item"
    >
        {{'@'}}lang('Restore')
    </x-utils.form-button>

    <x-utils.delete-button
        :href="route('admin.{{data['modelVariable']}}.permanently-delete', ${{data['modelVariable']}})"
        :text="__('Permanently Delete')"/>
{{'@'}}else
    <x-utils.view-button :href="route('admin.{{data['modelVariable']}}.show', ${{data['modelVariable']}})"/>
    <x-utils.edit-button :href="route('admin.{{data['modelVariable']}}.edit', ${{data['modelVariable']}})"/>
    <x-utils.delete-button :href="route('admin.{{data['modelVariable']}}.destroy', ${{data['modelVariable']}})"/>
{{'@'}}endif
