
        <li class="c-sidebar-nav-item">
            <x-utils.link
                class="c-sidebar-nav-link"
                :href="route('admin.{{data['modelVariable']}}.index')"
                :active="activeClass(Route::is('admin.{{data['modelVariable']}}.index'), 'c-active')"
                icon="c-sidebar-nav-icon cil-speedometer"
                :text="__('{{data['modelName']}}')" />
        </li>

